<section class="sightingMap">
  <form name="mapForm">
    <div id="mapWrapper">
      <div id = "overMap">
        <div id = "overMapTabs">
          <input type="button" value="Report" class="tablinks" ng-click="currentTab=0">
          <input type="button" value="Filter" class="tablinks" ng-click="currentTab=1">
        </div>
        <div id = "reportTab" ng-show="currentTab == 0">
          <h2>Submit Sighting</h2>

          <label for="address">Address</label>
          <input type="text" id="address" ng-required="currentTab == 0"
            ng-model="newSighting.address">

          <label for="city">City</label>
          <input type="text" id="city" ng-required="currentTab == 0"
            ng-model="newSighting.city">

          <label for="state">State</label>
          <input type="text" id="state" ng-required="currentTab == 0"
            ng-model="newSighting.state">

          <label for="zipCode">Zip Code</label>
          <input type="text" id="zipCode" ng-required="currentTab == 0"
            ng-model="newSighting.zipCode">

          <label for="borough">Borough</label>
          <select id="borough" ng-required="currentTab == 0"
            ng-model="newSighting.borough">
            <option value="BROOKLYN">Brooklyn</option>
            <option value="BRONX">Bronx</option>
            <option value="MANHATTAN">Manhattan</option>
            <option value="STATEN_ISLAND">Staten Island</option>
            <option value="QUEENS">Queens</option>
            <option value="UNKNOWN">Unknown</option>
          </select><br>

          <label for="latitude">Latitude</label>
          <input type="number" name="latitude" id="latitude" ng-required="currentTab == 0"
            min="-90" max="90" ng-model="newSighting.latitude">

          <label for="longitude">Longitude</label>
          <input type="number" id="longitude" ng-required="currentTab == 0"
            min="-180" max="180" ng-model="newSighting.longitude">

          <input type="button" value="Submit" ng-click="submitSighting()"
            ng-disabled="mapform.$invalid">
        </div>
        <div id = "filterTab" ng-show="currentTab == 1">
          <h2>Filter Sightings</h2>

          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" ng-required="currentTab == 1">

          <label for="endDate">End Date</label>
          <input type="date" id="endDate" ng-required="currentTab == 1">


          <label>Boroughs</label>
          <input type="checkbox" id="brooklyn" ng-model="filter.brooklyn" ng-init="filter.brooklyn=true">
          <label for="brooklyn">Brooklyn</label>

          <input type="checkbox" id="bronx" ng-model="filter.bronx" ng-init="filter.bronx=true">
          <label for="bronx">Bronx</label>

          <input type="checkbox" id="manhattan" ng-model="filter.manhattan" ng-init="filter.manhattan=true">
          <label for="manhattan">Manhattan</label>

          <input type="checkbox" id="staten_island" ng-model="filter.staten_island" ng-init="filter.staten_island=true">
          <label for="staten_island">Staten Island</label>

          <input type="checkbox" id="queens" ng-model="filter.queens" ng-init="filter.queens=true">
          <label for="queens">Queens</label>

          <input type="checkbox" id="unknown" ng-model="filter.unknown" ng-init="filter.unknown=true">
          <label for="unknown">Unknown</label>


          <input type="button" value="Filter" ng-click="filterSightings()">
        </div>
      </div>
      <div id="map"data-ng-init="initMap()"></div>
    </div>
  </form>
</section>
