<section class="sightingMap">
  <form name="mapForm">
    <div id="mapWrapper">
      <div id = "overMap">
        <div id = "overMapTabs">
          <button class="tablinks" ng-click="currentTab = 0">Report</button>
          <button class="tablinks" ng-click="currentTab = 1">Filter</button>
        </div>
        <div id = "reportTab" ng-show="currentTab == 0">
          <h1>Submit Sighting</h1>
        </div>
        <div id = "filterTab" ng-show="currentTab == 1">
          <h1>Filter Sightings</h1>
        </div>
      </div>
      <div id="map"data-ng-init="initMap()"></div>
    </div>
  </form>
</section>
